<main class="signup">
  <ion-card>
    <ion-card-title>Sign Up</ion-card-title>
    <ion-input label="Name" label-placement="stacked" fill="outline" placeholder="Enter name"></ion-input>
    <ion-input label="Email" label-placement="stacked" fill="outline" placeholder="Enter email" type="email"></ion-input>
    <ion-input label="Password" label-placement="stacked" fill="outline" placeholder="Enter password" type="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
    <ion-input label="Re-Password" label-placement="stacked" fill="outline" placeholder="Re enter password" type="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
    <ion-button expand="block">Sign Up</ion-button>
  </ion-card>
</main>