<main class="login">
  <ion-card>
    <ion-card-title>Log In</ion-card-title>
    <ion-input label="Email" label-placement="stacked" fill="outline" placeholder="Enter email" type="email"></ion-input>
    <ion-input label="Password" label-placement="stacked" fill="outline" placeholder="Enter password" type="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
    <ion-button expand="block">Log In</ion-button>
  
    <ion-card-content>
      <a routerLink="../signup">
        Sign Up
      </a>
    </ion-card-content>
  </ion-card>
</main>
  

