ion-card.details-card{
    height: 85vh;
    display: flex;
    flex-direction: row;
    img{
        width: 50%;
    }
    

    ion-grid{
        ion-row{
            height: fit-content;
            
            &:nth-child(3){
                justify-content: center;
                display: flex;
                flex-direction: row;
                h1{
                    color: white;
                }
                ion-card{
                    background-color: var(--ion-background-color-step-100);
                }
                ion-col{
                    width: fit-content;
                    text-align: center;
                    form{
                        .nombre-completo{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            ion-input{
                                margin: 16px;
                                width: 50%;
                            }
                        }
                        ion-input{
                            text-align: start;
                            margin: 16px;
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    .buttonContact{
        margin: 16px;
    }

    .extraDetails{
        ion-label{
            display: flex;
            flex-direction: row;
        }
        .icono{
            width: 20px;
            margin-right: 15px;
            filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(325deg) brightness(107%) contrast(100%);
        }
        .check {
            margin-left: 8px;
            filter: invert(86%) sepia(98%) saturate(6281%) hue-rotate(349deg) brightness(98%) contrast(107%);
        }

    }   
    
}

@media only screen and (max-width: 800px) {
    ion-card.details-card{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 60%;
            aspect-ratio: 4/3;
            margin-top: 16px;
        }
    }
  }