<ion-col>
  <ion-card>
    <img alt="Foto de {{housingLocation.name}}" src="{{housingLocation.photo}}" />
    <ion-card-header>
      <ion-card-title>{{housingLocation.name}}</ion-card-title>
      <ion-card-subtitle>{{housingLocation.city}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Unidades disponibles: {{housingLocation.availableUnits}}</p>
      <a [routerLink]="['/details', housingLocation.id]">Ver mas...</a>
    </ion-card-content>
  </ion-card>
</ion-col>
